$titleColor : #edfd07;

$subtitleColor: #bbc716;

$inputColor : #d1ab0317;

$inputColorSobre: #ffd000;

$invalidInput: rgb(197, 48, 48);

$validInput: rgb(156, 248, 160);

$font : 'Times New Roman', Times, serif;;